body {
 background-color: green;
 font-family: Arial, sans-serif;
}

button {
 background-color: #7cfc00;
 color: black;
 padding: 10px 20px;
 margin:auto;
 border: none;
 border-radius: 5px;
 cursor: pointer;
}
#nilai1 {
 width: 30%;
 height: 10px;
 padding:10px;
 font-size: 11px;
 font-family: monospace;
 border: 1px solid #ccc;
 }
label {
 text-align:left; 
 float: left;
 margin-bottom: 10px;
 margin-right: 10px;
 width: 130px;
 height: 10px;
}
table {
 font-family: Open Sans, sans-serif;
 border-collapse: separate;
 border-spacing: 0;
 width: 100%;
 text-align:center;
}
th, td {
 padding: 12px;
 border-bottom: 1px solid #ccc;
 text-align:center;
 margin-bottom:10px;
}
 .footer {
  grid-area: footer;
  grid-row: 2;
  background: black;
position: absolute;
bottom: 0;
width: 100%;
text-align:center;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

nav li {
  list-style: none;
  padding: 1em 0;
text-align:center;
}

nav li a {
  color: white;
  font-weight: 700;
  opacity: 0.6;
  text-decoration: none;
  transition: 0.3s;
}

nav li a:hover {
  opacity: 1;
}

footer ul {
  max-width: 640px;
  margin: 2em auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
}

footer ul li {
  list-style: none;
  align-self: flex-end;
}

footer ul li a {
  text-decoration: none;
  color: #c1c6ce;
}

footer ul li img {
  width: 30%;
}

footer p {
  font-size: 0.8em;
}
